<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>ООО "Рога и Копыта"</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  </head>
  <body class="w3-light-grey">
    <header class="w3-container w3-padding-32 w3-grey">
      <nav class="nav-menu">
        <a href="/">Главная страница</a>
        <a href="/employees/">Список сотрудников</a>
        <a href="/employees/employee_of_month">Сотрудник месяца</a>
        <a href="/employees/add">Добавить сотрудника</a>
      </nav>
    </header>
    <div class="w3-container w3-center w3-padding-32">
      <h1> ООО "Рога и Копыта" </h1>
      <img src="https://thumbs.dreamstime.com/z/%D1%81%D0%B5%D1%80%D1%8C%D0%B5%D0%B7%D0%BD%D1%8B%D0%B9-%D0%BC%D0%BE%D0%BB%D0%BE%D0%B4%D0%BE%D0%B9-%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA-%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7%D0%B8%D1%80%D1%83%D1%8E%D1%89%D0%B8%D0%B9-%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5-%D0%B2%D0%BE-%D0%B2%D1%80%D0%B5%D0%BC%D1%8F-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B-249193516.jpg" 
      alt="Наш любимый директор" height=600px width=700px>
      <div class="subscript">
        <p>Быков Владислав Сергееевич</p>
        <p>Директор компании</p>
      </div>
    </div>

    <div class="w3-content" style="max-width:1400px">
      <h3> Чем занимается наша компания? </h3>
      <p class="w3-container">ООО "Рога и Копыта" - надежный и опытный партнер в сфере производства и поставок сельскохозяйственной продукции.
      Мы предлагаем качественные услуги и продукты для животноводства и растениеводства,
      начиная от семян и удобрений до кормов и ветеринарных препаратов.
      Наша компания имеет широкую дистрибьюторскую сеть по всей России,
      что позволяет нашим клиентам быстро получать необходимые материалы и продукцию в кратчайшие сроки.
      Мы ценим наших клиентов и стремимся предоставлять только лучшие услуги, с учетом их потребностей и запросов.
      </p>
      <br>
      <br>
      <h3> История возникновения нашей компании</h3>
      <p class="w3-container">ООО "Рога и Копыта" было основано в 2005 году директором Быковым Владиславом Сергеевичем.
      Владислав всегда мечтал о том, чтобы создать компанию, которая была бы лучшей в своей области.
      Еще со школьных лет он был увлечен животными и природой,
      поэтому после окончания школы поступил на зоологический факультет МГУ.
      </p>
      <div>
        <img src="https://vogazeta.ru/uploads/full_size_1598528648-4b981402a59fe1be888f9bfc956b3a9b.jpg" 
        alt="Владислав еще в школе увлекался зоологией" height=600px width=700px>
      </div>
      <p class="w3-container">
      После окончания университета Владислав работал в зоопарке,
      где управлял отделом воспроизводства животных.
      Он обладал огромным опытом и знаниями в области животноводства и понимал,
      как важно заботиться о живых существах.
      </p>
      <div>
        <img src="https://img.tourister.ru/files/8/9/6/8/9/5/5/original.jpg" 
        alt="Место первой работы Владислава" height=600px width=700px>
      </div>
      <p class="w3-container">
      Однажды Владиславу пришла в голову идея создать компанию,
      которая бы предоставляла услуги по воспроизводству домашних животных,
      а также их продаже для домашних хозяйств. Начав бизнес с небольшой фермы, 
      Владислав сумел превратить компанию в агрокомплекс государственного масштаба.
      </p>
      <div>
        <img src="https://thumbs.dreamstime.com/z/%D0%B2%D0%BD%D0%B8%D0%BC%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81%D0%BC%D0%B5%D0%BD-%D0%B8%D0%B7%D1%83%D1%87%D0%B0%D1%8E%D1%89%D0%B8%D0%B9-%D0%BE%D1%82%D1%87%D0%B5%D1%82%D1%8B-%D0%B2%D0%BE-%D0%B2%D1%80%D0%B5%D0%BC%D1%8F-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B-%D0%B2-%D0%BB%D0%B5%D0%B3%D0%BA%D0%BE%D0%BC-249186597.jpg" 
        alt="Гениальная идея" height=600px width=700px>
      </div>
      <p class="w3-container">
      С тех пор компания постоянно развивается и расширяет свои возможности.
      На сегодняшний день ООО "Рога и Копыта" является одним из лидеров на рынке животноводства в городе и области.
      Компания заботится о здоровье и благополучии животных, и поэтому они всегда пользуются большой популярностью среди клиентов.
      Владислав Быков стал известным директором, которого обожают его сотрудники.
      </p>
      <div>
        <img src="https://thumbs.dreamstime.com/b/%D1%83%D1%81%D0%BF%D0%B5%D1%88%D0%BD%D1%8B%D0%B9-%D0%BC%D1%83%D0%B6%D1%81%D0%BA%D0%BE%D0%B9-%D0%B3-%D0%B0%D0%B2%D0%BD%D1%8B%D0%B9-%D0%B8%D1%81%D0%BF%D0%BE-%D0%BD%D0%B8%D1%82%D0%B5-%D1%8C%D0%BD%D1%8B%D0%B9-%D0%B8%D1%80%D0%B5%D0%BA%D1%82%D0%BE%D1%80-%D0%B8%D0%BC%D0%B5%D1%8F-%D1%82%D0%B5-%D0%B5%D1%84%D0%BE%D0%BD%D0%BD%D1%8B%D0%B9-72059083.jpg" 
        alt="Владислав пришел к успеху" height=600px width=700px>
      </div>
    </div>


    <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top w3-center">
      <p>ООО "Рога и Копыта"</p>
    </footer>
  </body>
  <style>
    body,h2,h4,h5 {font-family: "Raleway", sans-serif; font-size: 25px;}
    .nav-menu {
      justify-content: space-around;
      display: flex;
    }
    .subscript {
      font-size: 20px;
    }
    img {
      border-radius: 5%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    h1 {
      font-family: "Raleway", sans-serif;
      font-size: 35px;
      }
    h3 {
      font-family: "Raleway", sans-serif;
      font-size: 30px;
    }
    
  </style>
</html>
