<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Список сотрудников</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  </head>
  <body class="w3-light-grey">
    <header class="w3-container w3-padding-32 w3-grey">
      <nav class="nav-menu">
        <a href="/">Главная страница</a>
        <a href="/employees/">Список сотрудников</a>
        <a href="/employees/employee_of_month">Сотрудник месяца</a>
        <a href="/employees/add">Добавить сотрудника</a>
      </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <table>
      <tr>
        <th>ФИО</th>
        <th>Должность</th>
        <th>e-mail</th>
      </tr>
      <tr>
        <th><a href="employee1.html">Владислав Сергеевич Б.</a></th>
        <th>Директор</th>
        <th>vs.bykov@roga_kopita.com</th>
      </tr>
      <tr>
        <th>Юлия Сергеевна С.</th>
        <th>Главный бухгалтер</th>
        <th>us.sidorova@roga_kopita.com</th>
      </tr>
      <tr>
        <th>Александр Витальевич М.</th>
        <th>Зоотехник</th>
        <th>as.melentyev@roga_kopita.com</th>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer class="w3-container w3-dark-grey w3-padding-32 w3-center w3-margin-top w3-bottom">
      <p>ООО "Рога и Копыта"</p>
    </footer>
  </body>
  <style>
    body {font-family: "Raleway", sans-serif; font-size: 25px;}
    .nav-menu {
      justify-content: space-around;
      display: flex;
    }
    table  {
      justify-content: space-around;
      display: flex;
      border-collapse: collapse;
      
    }
    th, td {
      border: 1px solid;
      padding: 10px;
    }
  </style>
</html>
